use flake .
layout python3
source_env "~/.llm_api_keys.env"

# Aider configuration options
export AIDER_DEEPSEEK=true # Default to Deepseek's model
export AIDER_DARK_MODE=true # Dark mode
export AIDER_AUTO_COMMITS=false # Don't autocommit after every modification

which aider && aider --just-check-update || pip install aider-chat==0.56.0
echo "----------------------------------------------------"
echo "To upgrade aider, run the command \"aider --upgrade\""
echo "----------------------------------------------------"
